@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

@tailwind base;
@layer base {
	h1 {
		@apply text-ocean dark:text-gray-300;
	}

	h2 {
		@apply text-mirage dark:text-gray-500;
	}

	h3 {
		@apply text-gray-600 dark:text-gray-500;
	}

	a {
		@apply text-gray-400 dark:text-ocean hover:text-ocean;
	}
}

@tailwind utilities;
@layer utilities {
	@variants dark,
	hover {
		.brightness-50 {
			filter: brightness(0.5);
		}

		.brightness-100 {
			filter: brightness(1);
		}
	}
}

@tailwind components;
@layer components { 
	.shadow-award {
		@apply shadow-2xl-tulip-tree dark:shadow-2xl-ocean;
	}	
}